http:
    port: 8844

db:
    dbtype:  'mysql'
    dbhost:  'mariadb'
    dbname:  'musicmash'
    dblogin: 'musicmash'
    dbpass:  'musicmash'
    log: false

log:
    level: DEBUG
    file: 'musicmash.log'
    syslog_enable: false

store:
    url: 'https://itunes.apple.com'
    region: 'us'
    token: 'xxxxxx'

fetching:
    workers: 10
    count_of_skipped_hours_to_fetch: 8

tasks:
    subscriptions:
        find_artist_delay: true
        subscribe_artist_workers: 10
