http:
    port: 8844

db:
    dbtype:  'mysql'
    dbhost:  'mariadb'
    dbname:  'musicmash'
    dblogin: 'musicmash'
    dbpass:  'musicmash'
    log: false

log:
    level: DEBUG
    file: 'musicmash.log'
    syslog_enable: false

fetching:
    workers: 10
    count_of_skipped_hours_to_fetch: 8

tasks:
    subscriptions:
        find_artist_workers: 3
        subscribe_artist_workers: 10

stores:
    - type: yandex
      url: "https://music.yandex.ru"

    - type: itunes
      url: "https://api.music.apple.com"
      meta:
        token: "kpXVCIsInR5cCI6IkpXVCIsInR5cCI6IkpXVCIsInR5cCI6I"
        region: "us"

notifier:
    count_of_skipped_hours: 8
    telegram_token: "12340255:BBBZZZJJJJJAAAEEEEE"
